@import '../index.scss';

.cursor {
    width: 8px;
    aspect-ratio: 1/1;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    background-color: $white;
    mix-blend-mode: difference;
    transition: all 200ms linear;

    @media screen and (max-width: $max_tablette) {
        display: none;
    }
}

.activeCursor {
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-image: url('../media/arrowCursor.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.cursorhome {
    width: 70px;
    aspect-ratio: 1/1;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    background-color: transparent;
    border: solid 1px $white;
    mix-blend-mode: difference;

    display: flex;
    align-items: center;
    justify-content: center;

    .arrow{
        transform: scaleY(1);
        transition: all 300ms ease-out;
    }
    .arrowreverse{
        transform: scaleY(-1);
    }

    // @media screen and (max-width: $max_tablette) {
    //     display: none;
    // }
}