@import '../index.scss';

.Home2 {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &__Slider {
        position: absolute;
        transform: translate(-50%, 0%);
        top: 25vh;
        left: 50%;
        width: calc((100% / 12) * 6);

        @media screen and (max-width: $max_tablette) {
            width: calc((100% / 12) * 10);
        }
    
        &__Item {
            padding: calc($baseUnit/2) 0;
            background-color: grey;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50vh;
            width: 100%;
            overflow: hidden;

            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;


            img{
                width: 130%;
                height: 130%;
                object-fit: cover;
                z-index: 10;
                opacity: 1;
                filter: brightness(.25); 
                transition: all 300ms linear;   
            
                
            }

            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 10px;
                width: 1500px;
                z-index: 100;
                background-color: $background;
            }

            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 10px;
                width: 1500px;
                z-index: 100;
                background-color: $background;
            }

        }

        .activeItem{
            img{
                filter: brightness(.75);    
            }
                    
        }
    }

    &__Title{
        width: max-content;
        position: fixed;
        transform: translate(-50%, -43%);
        top: 50%;
        left: 50%;
        height: 13vw;
        overflow: hidden;
        @media screen and (max-width: $max_tablette) {
            height: 28vw;
        }

        h2{
            font-size: 15vw;
            text-transform: uppercase;
            text-align: center;
            font-family: 'HumaneBold';
            color: $white;
            line-height: 13vw;
            cursor: pointer;
            transition: letter-spacing 500ms cubic-bezier(.01, .82, .23, 1), margin-right 500ms cubic-bezier(.01, .82, .23, 1);
        
            @media screen and (max-width: $max_tablette) {
                font-size: 30vw;
                line-height: 28vw;
            }
        }

        .current{
            &:hover{
                letter-spacing: 30px;
                margin-right: -30px;

                @media screen and (max-width: $max_tablette) {
                    letter-spacing: inherit;
                    margin-right: 0;
                }
            }
        }
    }

    &__ScrollScooter{
        width: $baseUnit;
        height: 50vh;
        position: fixed;
        transform: translate(0%, -50%);
        top: 50%;
        left: $baseUnit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: $max_tablette) {
            display: none;
        }
        
        &__Graduation{
            width: 20%;
            height: 1px;
            background-color: $white;
            opacity: .3;

            &:first-child {
                width: 50%;
            }
            &:last-child {
                width: 50%;
            }
        }

        &__pointer{
            position: absolute;
            width: 20%;
            background-color: $white;
            transition: all 500ms cubic-bezier(.01, .82, .23, 1)
        }
    }
}
