@import '../index.scss';

.NavToggle{
    position: fixed;
    top: $baseUnit;
    left: $baseUnit;
    width: $baseUnit;
    height: $baseUnit;
    z-index: 10001;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    mix-blend-mode: difference;

    @media screen and (max-width: $max-mobile) {
        top: $baseUnit;
        right: calc($baseUnit/2);
    }

    span{
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: white;
        
        opacity: 1;
        left: 0;
        transform-origin: center;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s cubic-bezier(.76,0,.14,1);
        -moz-transition: .5s cubic-bezier(.76,0,.14,1);
        -o-transition: .5s cubic-bezier(.76,0,.14,1);
        transition: .5s cubic-bezier(.76,0,.14,1);
    }
    span:nth-child(1) {
        top: 0px;
    }
      
    span:nth-child(2), span:nth-child(3) {
        top: 8px;
    }
      
    span:nth-child(4) {
        top: 16px;
    }
}    

.open{
    span{
        background: $white;
    }
    span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    span:nth-child(2) {
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    span:nth-child(3) {
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }

    span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
}

.Nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 10000;
    transition: all 1000ms cubic-bezier(.92,0,.06,1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: calc(3 * $baseUnit);
        padding: 0 $baseUnit;
        height: 100%;

        li{
            height: 130px;
            position: relative;
            overflow: hidden;

            @media screen and (max-width: $max-mobile) {
                height: 60px;
            }
    
            a{
                position: relative;
                color: $white;
                z-index: 900;

                .Link__name{
                    text-transform: uppercase;
                    opacity: 1;
                    font-size: calc(5*$baseUnit);
                    margin-right: 0;
                    position: relative;

                    @media screen and (max-width: $max-mobile) {
                        font-size: calc(1.5*$baseUnit);
                    }
                }  
            }
        }
    }
}

.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}