@import '../index.scss';

.header, .footer{
    z-index: 10000;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    mix-blend-mode: difference;
    
    a, p, .homelink{
        font-family: Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 10px;
        padding: $baseUnit;
        color: $white;
        cursor: pointer;
        span{
            cursor: pointer;
        }

        ul{
            list-style-type: none;
            padding: 0 ;
            margin: 0;
            display: flex;
            align-items: end;
            gap: 10px;
            overflow: hidden;
            height: 0px;

            li{
                margin: 0;
                padding: 3px 6px;
                border: solid 1px $white;
                border-radius: 30px;
                text-transform: uppercase;
                position: relative;
                overflow: hidden;
                cursor: pointer;

                a{
                    padding: 0;
                    z-index: 11000;
                    color: $white;
                }

                &:before{
                    content: attr(data-beforetext);
                    z-index: 10000;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    width: 0%;
                    aspect-ratio: 1/1;
                    background-color: $white;
                    transition: all 300ms ease-in-out;
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $background;
                    overflow: hidden;
                }

                &:hover{
                    &::before{
                        width: 103%;
                    }
                }
            }
        }
    }

    
}

.footer{
    bottom: 0;
    left: 0;
    align-items: end;
    @media screen and (max-width: $max_mobile) {
        display: none;
    }
}

.header{
    top: 0;
    left: 0;
}