@import '../index.scss';

.work{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: $background;

    &__spacer{
        height: 30vh;
        background-color: $background;
    }
    
    &__banner{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        

        &__content{
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            color: $white;
            @media screen and (max-width: $max_mobile) {
                gap: 20vh;
            }

            .work__visit{
                position: absolute;
                bottom: 35vh;
                right: 10vw;
                z-index: 200;
            }

            &__info{
                display: flex;
                gap: $baseUnit;
                position: absolute;
                bottom: 25vw;
                left: 2vw;
                width: fit-content;
                overflow: hidden;
                
                &__stack, &__date, &__visit {
                    border: solid 2px $white;
                    padding: 15px;
                    border-radius: 30px;
                    font-size: 24px;
                    text-transform: uppercase;
                    width: fit-content;
                }

                &__visit{
                    background-color: $white;
                    color: $background;
                    position: relative;
                    transition: all 200ms linear;
        
                    &:hover{
                        background-color: rgb(169, 169, 169);
                        border-color: rgb(169, 169, 169);
                    }
                }
                

            }

            h1{
                position: absolute;
                z-index: 100;
                bottom: 0;
                left: $baseUnit;
                display: flex;
                flex-direction: row;
                gap: 10px;
                margin-bottom: -5.5vw;
                cursor:default;

                .charTitleWork{
                    text-transform: uppercase;  
                    font-size: 32vw;
                    font-family: 'HumaneBold';  
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                }
            }
        }
    }


    &__desc{
        padding: calc(100vw/12) calc((100vw/12));
        background-color: $background;
        display: flex;
        height: 60vh;
        position: relative;

       
        @media screen and (max-width: $max_mobile) {
            justify-content: center;
            gap: calc(2*$baseUnit)
        }

        &__line{
            top: 40px;
            left: calc((100vw/12));
            width: calc(10*(100vw/12));
            position: absolute;
            height: 1px;
            opacity: .5;
            background-color: $white;
        }

        &__text{
            width: calc(7*(100vw/12));
            p{
                
                width: 100%;
                @media screen and (max-width: $max_mobile) {
                    width: 100%;
                    font-size: 16px;
                    margin-bottom: 0;
                }

                .word{
                    font-family: Helvetica;
                    color: $white;
                    font-size: 32px;
                }
            }
        }

        &__label{
            width: calc(3*(100vw/12));
            p{
                font-family: Helvetica;
                color: $white;
                opacity: .5;
                font-size: 18px;
                width: 100%;
                @media screen and (max-width: $max_mobile) {
                    width: 100%;
                    font-size: 16px;
                    margin-bottom: 0;
                }
            }
        } 
    }

    &__gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $baseUnit;
        background-color: $background;

        &__container{
            width: calc(10*(100vw/12));
            height: 80vh;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__containerdouble{
            display: flex;
            gap: $baseUnit;

            div{
                width: 50%;
                height: 100%;
            }
        }
    }

    &__footer{
        background-color: $background;
        color: $white;
        padding: 0 0 350px 0;

        &__hover{
            cursor: pointer;
            margin: auto;
            width: fit-content;
            height: 13vw;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                font-family: 'HumaneBold';
                text-transform: uppercase;
                font-size: 15vw;
            }
        }
    }

    &__visit{
        display: flex;
        justify-content: center;
        position: relative;
        width: fit-content;

        a{
            width: 150px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: $white;
            
            font-size: 20px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;

            span{
                z-index: 200;
                font-family: Helvetica, sans-serif;
                color: $background;
            }
            &::before{
                content: '';
                z-index: 100;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                width: 0%;
                height: 0%;
                background-color: rgb(174, 174, 174);
                border-radius: 50%;
                opacity: 0;
                transition: all 500ms cubic-bezier(.72,0,.23,1);
            }

            &:hover{
                &::before{
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                }
            }
        }   
    }
}